{% extends "base.html" %}

{% block body %}
    <div>
        <div>
            <h1>Welcome, {{ session_user.display_name }}!</h1>
            <br>
            <img src="{{ session_user.images[0].url }}">
        </div>
        <br>
        <div>
            This is the json body of all your information:
            <br>
            <div>
                {{ user_json }}
            </div>
        </div>
        <br>
        <div>
            {{ total_users }} online.
        </div>
    </div>
{% endblock %}